html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
	background-color: #E8E9C9;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: auto;
	padding: auto;
	text-align: center;
	width: 100%;
}

header {
	margin: auto;
	padding: auto;
	background-color: #FF6300;
	overflow: hidden;
	/*text-align: center;*/
}

h1, h2, h3 {
	max-width: 100%;
	margin: 10px;
	padding: 5px;
	/*text-align: center;*/
}

h4, h5, h6 {
	/*text-align: center;*/
	margin: 5px;
	padding: 5px;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 5px;
  margin: 5px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#menu-img {
    padding: 0;
    grid-row: 1;
    grid-column: 2;
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: 12px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0, 1.4, 1, 1);
    filter: invert(100%);
}

#menu-img.clicked {
    opacity: .5;
}

#header-text {
    font-size: 18px;
    margin: 12px 0 6px;
}

#header-container h1, #header-text {
    /*color: white;*/
    margin-left: 12px;
    grid-row: 1;
    grid-column: 1;
}

/*#main-nav button {
    font-size: 18px;
    width: 70px;
    border: 1px solid white;
    padding: 6px;
    font-size: 12px;*/
    /*color: white;*/
    /*background-color: transparent;
}*/

#main-nav button:hover {
    opacity: .5;
    color: white;
}

#nav-container {
    grid-row: 2;
    grid-column: 1 / span 2;
    height: 0;
    overflow: hidden;
    transition-property: height;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0, 1.4, 1, 1);
    display: flex;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

#nav-container.show {
    height: 33px;
}

.hamburger {
    filter: invert(100%);
}

#rocket-hamburger {
	margin-left: auto;
	margin-right: auto;
	padding: auto;
}

#rocket-hamburger-container {
	margin-left: 25px;
	padding: 5px;
	display: flex;
	align-items: center;
}

div.center {
	margin-left: auto;
	margin-right: auto;
	padding: auto;
}

div.flex-container {
	margin-left: 25px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: left;
}

footer {
	margin: auto;
	padding: auto;
	background-color: #FF6300;
	width: auto;
}

a {
	text-decoration: none;
}

@media (max-width: 768px) {
		
}