html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
	background-color: #E8E9C9;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 10px;
	padding: 10px;
	justify-content: center;
}

header {
	border-top: 100%;
	border-bottom: 100%;
}